@if (Model.AdministratorId == Model.LoggedUserId)
{
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
        <td>
            @Model.Date.ToString("yyyy-MM-dd HH:mm")
        </td>
        @if (@Model.Isopen == true)
        {
            <td>
                Tak
            </td>
        }
        @if (@Model.Isopen == false)
        {
            <td>
                Nie
            </td>
        }
        <td>
            <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Szczegóły</a>
        </td>
        <td>
            <a asp-controller="ApplicationUserEvent" asp-action="AddThisEvent" asp-route-id="@Model.Id" class="btn btn-primary">Dodaj wydarzenie</a>
        </td>
        <td>
            <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Usuń wydarzenie</a>
        </td>
    </tr>
}
else
{
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
        <td>
            @Model.Date.ToString("yyyy-MM-dd HH:mm")
        </td>
        @if (@Model.Isopen == true)
        {
            <td>
                Tak
            </td>
        }
        @if (@Model.Isopen == false)
        {
            <td>
                Nie
            </td>
        }
        <td>
            <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Szczegóły</a>
        </td>
        <td>
            <a asp-controller="ApplicationUserEvent" asp-action="AddThisEvent" asp-route-id="@Model.Id" class="btn btn-primary">Dodaj wydarzenie</a>
        </td>
        <td>
            <button type="button" class="btn btn-primary" disabled>Usuń wydarzenie</button>
        </td>
    </tr>
}