@model YourScheduler.BusinessLogic.Models.DTOs.EventDto

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły wydarzenia</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Name">Nazwa wydarzenia</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Description">Opis wydarzenia</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Description
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Date">Data</label>
        </dt>
        <dd class="col-sm-10">
            @Model.Date.ToString("yyyy-MM-dd HH:mm")
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Isopen">Wydarzenie publiczne</label>
        </dt>
        @if (@Model.Isopen == true)
        {
            <dd class="col-sm-10">
                Tak
            </dd>
        }
        @if (@Model.Isopen == false)
        {
            <dd class="col-sm-10">
                Nie
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a> 
</div>


