@model IEnumerable<YourScheduler.BusinessLogic.Models.DTOs.EventDto>

@{
    ViewData["Title"] = "MyEvents";
}

<h1>Dostępne wydarzenia</h1>
<hr />
<p>   
    <a asp-controller="Event" asp-action="Create" class="btn btn-success icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Stwórz nowe wydarzenie">   
        <span class="bi bi-calendar-plus main-icons"></span>                                                     
    </a>
 
</p>
<hr />

<form asp-controller="Event" asp-action="GetAllEvents">
    <div class="input-group mb-3">
        <input type="text"
               class="form-control form-control-lg"
               placeholder="Wpisz nazwę wyszukiwanego wydarzenia"
               name="searchString"/>
        <button type="submit" value="Szukaj" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Szukaj">
                <span class="bi bi-search main-icons"></span>
        </button>
    </div>
</form>

<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card border-secondary custom-card" style="width: 18rem;">
                <img src="@item.PicturePath" class="card-img-top card-image">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">@item.Description</h6>
                    <p class="card-text">@item.Date.ToString("yyyy-MM-dd HH:mm")</p>
                    @if (@item.Isopen == true)
                    {
                        <p class="card-text last-card">Wydarzenie publiczne: Tak</p>
                    }
                    else
                    {
                        <p class="card-text last-card">Wydarzenie publiczne: Nie</p>
                    }    
                    <div class="row icon-row">
                       <a asp-controller="Event" asp-action="DetailsAllEvents" asp-route-id="@item.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Szczegóły">
                                <span class="bi bi-eye main-icons"></span>                                                     
                        </a>
                        
                        <a asp-controller="Event" asp-action="AddThisEvent" asp-route-id="@item.Id" class="btn icon-button @(item.IsLoggedUserParticipant ? "btn-secondary disabled" : "btn-success")" data-bs-toggle="tooltip" data-bs-placement="top" title="Dodaj wydarzenie do swojego kalendarza">
                            <span class="bi bi-calendar-check main-icons"></span>
                        </a>

                        <a asp-controller="Event" asp-action="Delete" asp-route-id="@item.Id" class="btn icon-button @(item.CanLoggedUserDelete ? "btn-danger" : "btn-secondary disabled")" data-bs-toggle="tooltip" data-bs-placement="top" title="Usuń wydarzenie permanentnie">
                            <span class="bi bi-calendar-x main-icons"></span>
                        </a>


                    </div>
                </div>
            </div>
        </div>
    }
</div>