@model IEnumerable<YourScheduler.BusinessLogic.Models.DTOs.EventDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Moje wydarzenia</h1>
<hr />
<p>
    <a asp-controller="Event" asp-action="Create" class="btn btn-success icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Stwórz nowe wydarzenie">   
        <span class="bi bi-calendar-plus main-icons"></span>                                                     
    </a>
</p>
<hr />

<form asp-controller="Event" asp-action="GetUserEvents">
    <div class="input-group mb-3">
        <input type="text"
               class="form-control form-control-lg"
               placeholder="Wpisz nazwę wyszukiwanego wydarzenia"
               name="searchString" />
        <button type="submit" value="Szukaj" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Szukaj">
                <span class="bi bi-search main-icons"></span>
        </button>
    </div>
</form> 
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-3">
        <div class="card border-secondary custom-card" style="width: 18rem;">
            <img src="@item.PicturePath" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">@item.Name</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">@item.Description</h6>
                <p class="card-text">@item.Date.ToString("yyyy-MM-dd HH:mm")</p>
                    @if (@item.Isopen == true)
                    {
                        <p class="card-text last-card">Wydarzenie publiczne: Tak</p>
                    }
                    else
                    {
                        <p class="card-text last-card">Wydarzenie publiczne: Nie</p>
                    }    
                <div class="row icon-row">
                    <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Szczegóły">
                            <span class="bi bi-eye main-icons"></span>                                                     
                    </a>

                    @if (item.CanLoggedUserEdit)
                    {
                            
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edytuj">
                                        <span class="bi bi-tools main-icons"></span>
                            </a>
                            
                    }
                    else
                    {
                            
                            <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary icon-button disabled" data-bs-toggle="tooltip" data-bs-placement="top" title="Edytuj">
                                        <span class="bi bi-tools main-icons"></span>
                            </a>
                            
                    }

                    <a asp-controller="Event" asp-action="DeleteFromCalendar" asp-route-id="@item.Id" class="btn btn-danger icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Usuń wydarzenie z kalendarza">
                            <span class="bi bi-calendar-x main-icons"></span>
                    </a>
                 
                                
                    <a asp-action="EventMembers" asp-route-id="@item.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Uczestnicy wydarzenia">
                            <span class="bi bi-people main-icons"></span>

                    </a>

                    

                </div>
            </div>
        </div>
    </div>
    }
</div>
    

