@model IEnumerable<YourScheduler.BusinessLogic.Models.DTOs.EventDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Dostępne wydarzenia</h1>
<hr />
<p>
    <a asp-controller="Event" asp-action="Create" class="btn btn-primary">Stwórz nowe wydarzenie</a>
</p>
<hr />

<div class="input-group mb-3">
    <input type="text"
           class="form-control form-control-lg"
           placeholder="Wpisz nazwę wyszukiwanego wydarzenia"/>
    <button type="button" class="input-group-text btn-danger">Szukaj - TODO</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name">Nazwa wydarzenia</label>
            </th>
            <th>
                <label asp-for="First().Description">Opis wydarzenia</label>
            </th>
            <th>
                <label asp-for="First().Date">Data</label>
            </th>
            <th>
                <label asp-for="First().Isopen">Wydarzenie publiczne</label>
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Date.ToString("yyyy-MM-dd HH:mm")
                </td>
                @if (@item.Isopen == true)
                {
                    <td>
                        Tak
                    </td>
                }
                @if (@item.Isopen == false)
                {
                    <td>
                        Nie
                    </td>
                }
                <td>
                    <a asp-controller="Event" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a>
                </td>
                <td>
                    <a asp-controller="ApplicationUserEvent" asp-action="AddThisEvent" asp-route-id="@item.Id" class="btn btn-primary">Dodaj wydarzenie</a>
                </td>
                <td>
                    <a asp-controller="Event" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Usuń wydarzenie</a>
                </td>
            </tr>
        }
    </tbody>
</table>
