@using Microsoft.AspNet.Identity
@using Microsoft.AspNetCore.Identity
@using YourScheduler.Infrastructure.Entities

@inject SignInManager<ApplicationUser> SignInManager


@if (Model.AdministratorId == Model.LoggedUserId)
{
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>

        <td>
            <a asp-controller="Team" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Szczegóły</a>
        </td>
        <td>
            <a asp-controller="ApplicationUserTeam" asp-action="AddThisTeam" asp-route-id="@Model.Id" class="btn btn-primary">Dodaj zespoł</a>
        </td>
        <td>
            <a asp-controller="Team" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-primary">Usuń zespół</a>
        </td>
    </tr>
}
else
{
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
        <td>
            <a asp-controller="Team" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Szczegóły</a>
        </td>
        <td>
            <a asp-controller="ApplicationUserTeam" asp-action="AddThisTeam" asp-route-id="@Model.Id" class="btn btn-primary">Dodaj zespoł</a>
        </td>

    </tr>
}