@model YourScheduler.BusinessLogic.Models.DTOs.TeamDto

@{
    ViewData["Title"] = "DetailsAllTeams";
}

<div class="col-md-3">
    <div class="card border-secondary custom-card" style="width: 18rem;">
        <img src="@Model.PicturePath" class="card-img-top card-image">           
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">@Model.Description</h6>  
            <p class="last-card"></p> 
            <div class="row icon-row">
                @if (Model.CanLoggedUserEdit)
                {
                            <a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edytuj">
                                <span class="bi bi-tools main-icons"></span>
                            </a>
                }
                else
                {
                            <a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary icon-button disabled" data-bs-toggle="tooltip" data-bs-placement="top" title="Edytuj">
                                <span class="bi bi-tools main-icons"></span>
                            </a>
                }

                <a asp-controller="Team" asp-action="GetAllTeams" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Powrót">
                            <span class="bi bi-arrow-left-circle main-icons"></span>                                                     
                </a>          
            </div>
        </div>
    </div>
</div>