@model IEnumerable<YourScheduler.BusinessLogic.Models.DTOs.TeamDto>

@{
    ViewData["Title"] = "GetUserTeams";
}

<h1>Moje zespoły</h1>
<hr />
<p> 
    <a asp-controller="Team" asp-action="Create" class="btn btn-success icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Stwórz nowy zespół">   
        <span class="bi bi-person-plus main-icons"></span>                                                     
    </a>
   
</p>
<hr />
<form asp-controller="Team" asp-action="GetUserTeams">
    <div class="input-group mb-3">
        <input type="text"
               class="form-control form-control-lg"
               placeholder="Wpisz nazwę wyszukiwanego zespołu"
               name="searchString" />
        <button type="submit" value="Szukaj" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Szukaj">
            <span class="bi bi-search main-icons"></span>
        </button>
    </div>
</form>
<hr />

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card border-secondary custom-card" style="width: 18rem;">
                <img src="@item.PicturePath" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">@item.Description</h6> 
                    <p class="last-card"></p> 
                    <div class="row icon-row">
                        <a asp-controller="Team" asp-action="DetailsUserTeams" asp-route-id="@item.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Szczegóły">
                                <span class="bi bi-eye main-icons"></span>                                                     
                        </a>

                        @if (item.CanLoggedUserEdit)
                        {

                                    <a asp-controller="Team" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Edytuj">
                                                <span class="bi bi-tools main-icons"></span>
                                    </a>

                        }
                        else
                        {

                                    <a asp-controller="Team" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary icon-button disabled" data-bs-toggle="tooltip" data-bs-placement="top" title="Edytuj">
                                                <span class="bi bi-tools main-icons"></span>
                                    </a>

                        }

                        <a asp-controller="Team" asp-action="DeleteFromCalendar" asp-route-id="@item.Id" class="btn btn-danger icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Opuść zespół">
                                <span class="bi bi-calendar-x main-icons"></span>
                        </a>


                        <a asp-controller="Team" asp-action="TeamMembers" asp-route-id="@item.Id" class="btn btn-primary icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Członkowie zespołu">
                                <span class="bi bi-people main-icons"></span>

                        </a>



                    </div>
                </div>
            </div>
        </div>
    }
</div>


