@model IEnumerable<YourScheduler.BusinessLogic.Models.DTOs.TeamDto>

@{
    ViewData["Title"] = "GetUserTeams";
}

<h1>Moje zespoły</h1>
<hr />
<p>
    <a asp-controller="Team" asp-action="Create" class="btn btn-primary">Stwórz nowy zespół</a> 
   
</p>
<hr />
<form asp-controller="Team" asp-action="GetUserTeams">
    <div class="input-group mb-3">
        <input type="text"
               class="form-control form-control-lg"
               placeholder="Wpisz nazwę wyszukiwanego zespołu"
               name="searchString" />
        <input type="submit" value="Szukaj" class="btn btn-primary" />
    </div>
</form>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <label asp-for="First().Name">Nazwa wydarzenia</label>
            </th>
            <th>
                <label asp-for="First().Description">Opis wydarzenia</label>
            </th>
           
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                
                <td>
                    <a asp-controller="Team" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a>
                </td>
                @if (item.CanLoggedUserEdit)
                {
                    <td>
                        <a asp-controller="Event" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edytuj</a>
                    </td>
                }
                else
                {
                    <td>
                        <button type="button" class="btn btn-primary" disabled>Edytuj</button>
                    </td>
                }
                <td>
                    <a asp-controller="Team" asp-action="DeleteFromCalendar" asp-route-id="@item.Id" class="btn btn-primary">Wypisz się z zespołu</a>
                </td>
                <td>
                    <a asp-controller="Team" asp-action="TeamMembers" asp-route-id="@item.Id" class="btn btn-primary">Uczestnicy zespołu</a>
                </td>
            </tr>
        }
    </tbody>
</table>



