@model IEnumerable<YourScheduler.BusinessLogic.Models.DTOs.TeamDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Dostępne zespoły</h1>
<hr />
<p>   
    <a asp-controller="Team" asp-action="Create" class="btn btn-success icon-button" data-bs-toggle="tooltip" data-bs-placement="top" title="Stwórz nowy zespół">   
        <span class="bi bi-bag-plus main-icons"></span>                                                     
    </a>
</p>
<hr />

<form asp-controller="Team" asp-action="Index">
    <div class="input-group mb-3">
            <input type="text"
                   class="form-control form-control-lg"
                   placeholder="Wpisz nazwę wyszukiwanego zespołu"
                   name="searchString" />
            <button type="submit" value="Szukaj" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Szukaj">
                <span class="bi bi-search main-icons"></span>
            </button>
        </div>
</form>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Description
                </td>
                
                <td>
                    <a asp-controller="Team" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Szczegóły</a>
                </td>
                <td>
                    <a asp-controller="ApplicationUserTeam" asp-action="AddThisTeam" asp-route-id="@item.Id" class="btn btn-primary">Dodaj zespoł</a>
                </td>
                <td>
                    <a asp-controller="Team" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Usuń zespół</a>
                </td>
            </tr>
        }
    </tbody>
</table>