@using YourScheduler.BusinessLogic.Models.DTOs
@model TeamMembersDto;


@{
    ViewData["Title"] = "MyTeams";
}

<h1>Informacje o zespole</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa zespołu
            </th>
            <th>
                Informacje o zespole
            </th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Description
            </td>


            @* <td>
            <a asp-action="Delete" asp-route-id="@item.Id">RemoveThisEvent</a>
            </td>*@

        </tr>

    </tbody>
</table>

<h1>Członkowie zespołu</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Pseudonim
            </th>
            <th>
                Email
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (ApplicationUserDto item in Model.TeamUsers)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.Displayname
                </td>
                <td>
                    @item.Email
                </td>
                @* <td>
            <a asp-action="Delete" asp-route-id="@item.Id">RemoveThisEvent</a>
            </td>*@

            </tr>
        }
    </tbody>
</table>

<hr />
<a asp-controller="Team" asp-action="GetUserTeams" class="btn btn-primary">Powrót</a>


