@using YourScheduler.BusinessLogic.Models.DTOs;
@model dynamic;

@{
    ViewData["Title"] = "MyEvents";
}

<h1>Info about event</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
               Date
            </th>
            <th>
                Isopen
            </th>

        </tr>
    </thead>
    <tbody>

        <tr>
            <td>
                @Model.happening.Name
            </td>
            <td>
                @Model.happening.Description
            </td>
            <td>
                @Model.happening.Date
            </td>
            <td>
                @Model.happening.Isopen
            </td>          
        </tr>

    </tbody>
</table>

<h1>Members</h1>

<table class="table">
    <thead>
        <tr>

            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Displayname
            </th>
            <th>
                Email
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (UserDto item in Model.users)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.Displayname
                </td>
                <td>
                    @item.Email
                </td>
           

            </tr>
        }
    </tbody>
</table>