@using YourScheduler.BusinessLogic.Models.DTOs;
@model EventMembersDto;

@{
    ViewData["Title"] = "MyEvents";
}

<h2>Szczegóły wydarzenia</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa wydarzenia
            </th>
            <th>
                Opis wydarzenia
            </th>
            <th>
                Data
            </th>
            <th>
                Wydarzenie publiczne
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.Description
            </td>
            <td>
                @Model.Date.ToString("yyyy-MM-dd HH:mm")
            </td>
            @if (@Model.Isopen == true)
            {
                <td>
                    Tak
                </td>
            }
            @if (@Model.Isopen == false)
            {
                <td>
                    Nie
                </td>
            }        
        </tr>
    </tbody>
</table>

<h2>Uczestnicy</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Imię
            </th>
            <th>
                Nazwisko
            </th>
            <th>
                Pseudonim
            </th>
            <th>
                Adres e-mail
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (UserDto item in Model.EventUsers)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Surname
                </td>
                <td>
                    @item.Displayname
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>

<hr />
<a asp-controller="ApplicationUserEvent" asp-action="MyEvents" class="btn btn-primary">Powrót</a>