@if (Model.AdministratorId == Model.LoggedUserId)
{
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>

        <td>
            <a asp-controller="Team" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Szczegóły</a>
        </td>
        <td>
            <a asp-controller="Team" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edytuj</a>
        </td>
        <td>
            <a asp-controller="ApplicationUserTeam" asp-action="DeleteFromCalendar" asp-route-id="@Model.Id" class="btn btn-primary">Usuń zespół z kalendarza</a>
        </td>
        <td>
            <a asp-action="TeamMembers" asp-route-id="@Model.Id" class="btn btn-warning">Członkowie zespołu</a>
        </td>
    </tr>
}
else
{
    <tr>
        <td>
            @Model.Name
        </td>
        <td>
            @Model.Description
        </td>
        <td>
            <a asp-controller="Team" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Szczegóły</a>
        </td>
        <td>
            <a asp-controller="ApplicationUserTeam" asp-action="DeleteFromCalendar" asp-route-id="@Model.Id" class="btn btn-primary">Usuń zespół z kalendarza</a>
        </td>
        <td>
            <a asp-action="TeamMembers" asp-route-id="@Model.Id" class="btn btn-warning">Członkowie zespołu</a>
        </td>

    </tr>
}
